@import './_login';
@import './_config';
@import './_navbar';

body {
  margin: 0;
  padding: 0;
  background: $dark_blue;
}

.about {
  text-align: center;
  color: $white;
  font-size: 14px !important;
  margin-top: 200px;
}
